@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --site-width: 1280px;
  --site-padding: 1rem;
  --navbar-height: 56px;
  --primary-bg: #efefef;
  --title-color: #0b0b0b;
  --tag-color: #3d3d3d;
  --nav-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Poppins", sans-serif;
  /* max-width: var(--site-width); */
  background-color: var(--primary-bg);
}

.nav-with {
  width: 100vw !important;
}

.content-options {
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b3b3c9;

  height: 5px;
  /* border: 2px solid #edf2f7; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}
